.ml15{
  margin-left:15px;
}
.ml35{
  margin-left:35px;
}
.wp20{
  width:20%
}
.wp40{
  width:40%!important
}
.wp100{
  width:100%
}
.tx-center{
  text-align: center;
}
.tx-right{
  text-align: right;
}