// 这里为了后续主题的变化
:root{
  --color-primary:#0277FF;
  --color-default:#8C8C8C;
  --color-black:#000000;
  --color-back:#EBECF0;
  // --color-grey-back:#f7f8fa;
  --color-grey-back:#eee;
  --color-menu-back:#18202E;
  --color-menu-child-back:#152438;
  --color-menu-text:#FFFFFF;

}
